{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}nome do site{% endblock %}</title>
</head>

<nav>

    <a href="/menu/despesas/"> <button type="submit">Voltar</button> </a>
</nav>    
<main>
    
    <h2>Despesas cadastro</h2>
    <form action="submit" method="POST">{% csrf_token %}
        <div>
            <fieldset class="module aligned ">
    
    
    
                <div class="form-row field-titulo">
                    
                    
                        <div>
                            
                            
                                <label for="id_titulo">Título:</label>
                                        <select class="form-select" size="4" aria-label="size 3 select example" id="id_titulo">
                                                <option selected>Open this select menu</option>
                                                <option value="Essencial">Essencial</option>
                                                <option value="Não essencial">Não essencial</option>
                                                <option value="Investimento">Investimento</option>
                                        </select>
                                        <!-- <input type="text" name="titulo" class="vTextField" maxlength="50" id="id_titulo" value="{{evento_despesas.titulo}}" required > -->
                                
                            
                            
                        </div>
                    
                </div>
            
                <div class="form-row field-recorrente">
                    
                    
                        <div>
                            
                            
                                <label for="id_recorrente">Recorrente:</label>
                                
                                    <select name="recorrente" id="id_recorrente">

        
          <option value="True">Sim</option>
        
          <option value="False" selected>Não</option>
        
        </select>
                                
                            
                            
                        </div>
                    
                </div>
            
                <div class="form-row field-produto">
            
            
                    <div>
                        
                        
                            <label class="required" for="id_produto">Produto:</label>
                            
                                <input type="text" name="produto" class="vTextField" maxlength="50" required id="id_produto" value="{{evento_despesas.produto}}">
                            
                        
                        
                    </div>
                
            </div>
            
                <div class="form-row field-valor">
                    
                    
                        <div>
                            
                            
                                <label class="required" for="id_valor">Valor:</label>
                                
                                    <input type="number" name="valor" step="0.01" required id="id_valor">
                                
                            
                            
                        </div>
                    
                </div>
            
                <div class="form-row field-auto_data">
                    
                    
                        <div>
                            
                            
                                <label for="id_auto_data">Data:</label>
                                
                                    <input type="date" name="auto_data"  id="id_auto_data" required>
                                
                            
                            
                        </div>
                    
                </div>
            
                <div class="form-row field-status">
                    
                    
                        <div>
                            
                            
                                <label for="id_status">Status:</label>
                                
                                    <select name="status" id="id_status">

        
          <option value="True">Devendo</option>
        
          <option value="False" selected>Pago</option>
        
        </select>
                                
                            
                            
                        </div>
                    
                </div>
            
                <div class="form-row field-total_pago">
                    
                    
                        <div>
                            
                            
                                <label for="id_total_pago">Total:</label>
                                
                                    <input type="number" name="total_pago" step="0.01" id="id_total_pago" required >
                                
                            
                            
                        </div>
                    
                </div>
            
        </fieldset>
        
        
        
        
        
        
        
        
        
        
        
        <input type="hidden" name="id" value="{{ evento_despesas.id }}">
        
        <div class="submit-row">
        
            <div>
          

                <button type="submit">Salvar_</button></a>         
                </div>
        
        
        </div>
        
        
          
          
          
          
          
          
          
          
          
          
          
          
          

          

    </form>    
</main>
</header>
</body>
</html>
{% endif %}