{% extends 'boostrap_5.html' %}



{% block content %}


{# TODO: Add link to registration page #}




<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Menu</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link" href="/menu/inicio/">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu/detalhes">Detalhes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu/despesas_categoria/">Despesas por categoria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu/planejamento_despesas/">Planejamento de despesas</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>



{% endblock %}