{% extends 'base2.html' %}



{% block content %}
    <p>Aviso de Privacidade sobre sites, comunicação e cookies
        segunda-feira, 28 de fevereiro de 2022
        Nós nos importamos com sua privacidade. Quando a Mozilla (ou seja, nós) coleta informações sobre você, nossa Política de privacidade da Mozilla descreve de que forma gerenciamos essas informações.
        
        Este aviso de privacidade se aplica aos sites e aplicativos móveis administrados pela Mozilla, inclusive os domínios mozillians.org, mozilla.org, firefox.com, entre outros. Eles incluem, por exemplo, foundation.mozilla.org, bugzilla.mozilla.org, reps.mozilla.org, careers.mozilla.org, developers.mozilla.org, support.mozilla.org, addons.mozilla.org e wiki.mozilla.org.
        
        O que você deve saber
        Podemos receber suas informações pessoais com base em sua interação conosco em plataformas de redes sociais: ao se candidatar a uma vaga de emprego, estágio, subvenção ou bolsa, ao atuar como membro voluntário da comunidade Mozilla, ao nos enviar feedback ou uma solicitação, ao se inscrever em uma conta ou fazer uma assinatura ou ao interagir com uma campanha de produto ou política. 
        
        Podemos usar cookies, GIFs transparentes, análises da web de terceiros, informações de dispositivos e endereços IP para oferecer a funcionalidade e para entender melhor a interação do usuário com nossos produtos, serviços e comunicações. 
        
        É possível controlar preferências individuais de cookies, indicar suas preferências de cookies para outras pessoas e cancelar o recebimento de análises da web e de ferramentas de otimização. 
        
        Alguns sites da Mozilla possibilitam fazer compras (como aplicativos ou produtos), contribuir com projetos específicos da Mozilla ou fazer doações para programas públicos e de caridade da Mozilla. Essas transações são normalmente processadas por fornecedores terceirizados da Mozilla. </p>>
{% endblock %}